.container {
    width: 85vw;
    margin: auto;
    padding-left: 1vw;
}

#bar {
    width: 85vw;
    display: flex;
    flex-direction: row;
}

#bar a {
    margin: auto 2vw auto auto;
}

#search {
    width: 21vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5vh 0 1.5vh 0;
}

#searchBar {
    width: 15vw;
    font-family: "Jockey One", sans-serif;
    letter-spacing: 0.1vw;
    height: 2.75vh;
    border-radius: 0.2vh;
    border: 0.5vh solid rgba(41, 189, 226, .001);
    background-color: rgba(41, 189, 226, 0.15);
    padding: 0.2vw;
    color: rgba(101, 172, 238, 0.7);
}

#searchBar::placeholder {
    color: rgba(101, 172, 238, 0.7);
}

button#searchButton {
    width: 4vw;
    font-family: "Jockey One", sans-serif;
    height: 4.6vh;
    padding: 0.2vw;
    line-height: 1.8vh;
    margin-top: -0.1vh;
    border-radius: 0.2vh;
}

button#searchButton {
  background-color: rgba(41, 189, 226, 0.15);
  border-radius: 3px;
  border: 0.4vh solid rgba(18, 85, 173, 0.01);
  color: rgba(101, 172, 238, 0.7);
  cursor: pointer;
  font-family: "Jockey One", sans-serif;
  font-size: 2vh;
  padding: auto;
}

button#searchButton:hover,
button#searchButton:focus {
  background-color: rgba(41, 189, 226, 0.1);
  color: #2c5777;
}

button#searchButton:active {
  background-color: rgba(41, 189, 226, 0.15);
  box-shadow: none;
  color: #2c5777;
}

.container table {
    width: 85vw;
    height: 69.5vh;
    float: initial;
    margin: auto;
    overflow-y: scroll;
    display: block;
    position: absolute;
    bottom: 0;
    padding-left: 0;
}

.container thead {
    width: 85vw;
}

.container thead tr {
    font-size: 1.6vw;
    line-height: 5vh;
    border-bottom: 1vh solid #abddff;
}

.container tbody {
    width: 85vw;
}

.container tr {
    line-height: 6vh;
}

.container tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.2);
}

.container tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.3);
}

.container td {
    width: 12vw;
}