@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

.App {
  font-family: "Jockey One", sans-serif;
  letter-spacing: 1.3px;
  color: #9fd4ff;
}

a:link {
  text-decoration: none;
  font-size: 1.6vw;
  color: #fff;
  text-shadow: 0 0 0.01vw #e87dbb, 0 0 0.1vw #e87dbb, 0 0 0.2vw #d4426b, 0 0 0.3vw #d4426b, 0 0 0.4vw #d4426b, 0 0 0.5vw #d4426b, 0 0 0.6vw #0647a8;
}

a:visited {
  text-decoration: none;
  font-size: 1.6vw;
  color: #fff;
}

a:hover {
  font-size: 1.65vw;
  text-shadow: 0 0 0.2vw #fff, 0 0 0.3vw #2c5ee9, 0 0 0.4vw #2c5ee9, 0 0 0.5vw #2c5ee9, 0 0 0.6vw #2c5ee9, 0 0 0.7vw #2c5ee9, 0 0 0.8vw #2c5ee9;
}